/* Evidencia Numero 2
   Autor: Abel Atrews Noa Condemayta
   Fecha: 14/04/2024
   Descripcion: Avance en CSS
*/

/* Importación de la fuente Montserrat desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Reset de estilos y configuración global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Estilos para el cuerpo del documento */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0 0 0 / 0.8), rgba(0 0 0 / 0.8)),
    url(https://i.pinimg.com/originals/64/dd/41/64dd41a50bbb655cec46bc3104db54fb.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Estilos para el contenedor principal */
.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 20px;
  gap: 10px;
  width: 1000px;
}

/* Estilos para la caja de información de contacto */
.box-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Estilos para el título de la caja de información */
.box-info > h1 {
  text-align: left;
  letter-spacing: 5px;
}

/* Estilos para los datos de contacto */
.data {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.data > p {
  font-size: 1rem;
}

.data > p > i {
  color: crimson;
  margin-right: 10px;
  font-size: 25px;
}

/* Estilos para los enlaces a redes sociales */
.links {
  display: flex;
  gap: 15px;
}

.links > a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: crimson;
  text-align: center;
  transition: 0.1s;
}

.links > a > i {
  color: #fff;
  line-height: 40px;
  font-size: 20px;
}

/* Estilos para el formulario de contacto */
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

/* Estilos para los campos de entrada */
.input-box {
  position: relative;
}

.input-box > input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(255 255 255 / 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
  color: #a3a3a3;
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
  color: transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
  border-bottom: 3px solid crimson;
  animation: shake 0.2s;
}

.input-box > textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
  background: rgba(255 255 255 / 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  outline: none;
  transition: 0.3s;
  color: #fff;
  letter-spacing: 1.5px;
}

/* Estilos para los iconos de los campos de entrada */
.input-box > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: rgba(255 255 255 / 0.3);
  transition: 0.3s;
}

.input-box > input:focus ~ i {
  color: crimson;
}

/* Estilos para el botón de enviar */
form > button {
  width: 100%;
  padding: 10px;
  outline: none;
  background: crimson;
  color: #fff;
  border: none;
  transition: 0.1s;
  cursor: pointer;
  font-size: 1rem;
}

/* Estilos para los estados de hover en el botón y enlaces */
form > button:hover,
.links > a:hover {
  background: rgb(172, 16, 47);
}

/* Animación de sacudida para los campos de entrada */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* Media query para pantallas de hasta 600px */
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .box-info {
    gap: 15px;
  }

  .box-info > h1 {
    font-size: 1.5rem;
  }
}
